<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body class="container">
<a th:href="@{/form/create}" class="btn btn-outline-success" style="margin-bottom: 30px">Create new user</a>
<table class="table table-hover">
    <tr>
        <td>STT</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Age</td>
        <td>PhoneNumber</td>
        <td>Email</td>
    </tr>
    <tr th:each="user, loop:${list}">
        <td th:text="${loop.count}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getPhoneNumber()}"></td>
        <td th:text="${user.getEmail()}"></td>
    </tr>
</table>
<div th:if="${mess}">
    <input type="hidden" id="mess" th:value="${mess}">
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var mess = document.getElementById('mess').value;
    if (mess == 1) {
        swal({
            title: "Good job!",
            text: "You clicked the button!",
            icon: "success",
            button: "Aww yiss!",
        });
    }
</script>
</html>